Package: com.yakir.cukey
Name: CuKey
Depends: mobilesubstrate, ws.hbang.common, firmware (>= 10.0), me.nepeta.libcolorpicker
Version: 1.0.2
Architecture: iphoneos-arm
Description: An awesome Tweak Custom Keyboard !
Maintainer: DevelopApple 
Author: DevelopApple
Section: Tweaks
